<ul>
  <li> Name: <%= @order.name %> </li>
  <li> Email: <%= @order.email %> </li>
  <li> Address: <%= @order.name %> </li>
  <li> Phone: <%= @order.phone %> </li>
  <li> Message: <%= @order.message %> </li>
</ul>
<%= link_to 'Home', root_path %> | <%= link_to 'Orders', orders_path %>| <%= link_to 'New Order', new_order_path %>